$grad:linear-gradient(to right, #fbeb0a, #ff005d);
$bg: #55586a;
$bgtext:#fa3b3b;
$cb:#f7d51a;
$sp-bg:rgb(255, 102, 0);
$txtcolor1:#fff;
$bg-section_card:#3b3f50;
$sp-bg:#ff4e33;
$bodybg:#21232e;
$dark_header:linear-gradient(to right bottom, rgba(180, 199, 176, 0.1), rgba(83, 90, 88, 0.1)), url(../img/m-h-night.jpg);