$bg: #21232F;
$cb: #739D07;
$grad:linear-gradient(to right, #739D07, #3261CB);
$txtcolor1:#20272E;
$sp-bg:rgb(0, 187, 255);
$bodybg:#fff;
$bg-section_card:#21232e;
$dark_header:linear-gradient(to right bottom, rgba(180, 199, 176, 0.1), rgba(83, 90, 88, 0.1)), url(../img/m-h-day.jpg);